<div class=" py-5 row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (1).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (1).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (2).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (3).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (28).jpg" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (1).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (1).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (2).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (1).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (1).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="py-1 px-4 pt-4 shadow-sm mb-4 bg-white rounded d-flex flex-column">
      <img src="../../../assets/images/Pintura (2).JPG" alt="" class="mx-auto w-100 picture">
      <p class="mt-3 text-center">Nome da obra</p>
    </div>
  </div>
</div>
