<div class="mt-5">
  <div class="p-5 shadow-lg p-3 my-5 bg-white rounded">
    <p>
      Há cinco décadas Ascal iniciou sua carreira como artista plástico. "A sociedade era diferente, a cidade era outra,
      e as dificuldades também eram muitas no que se refere a se dedicar a sobreviver da arte como profissão". Para
      alcançar o patamar em que hoje se encontra profissionalmente, com a carreira consolidada e um nome respeitado
      junto
      a produção artística cearense, inicialmente Ascal teve que destinar à arte um tempo exíguo, enquanto seu sustento
      vinha do emprego na área de saúde, praticado logo que concluiu o curso universitário. Foi também na faculdade, mas
      precisamente na Universidade Federal do Ceará (UFC), que encontrou a primeira porta aberta para mostrar seu
      potencial artístico, realizando lá a primeira exposição individual, em 1964. Ascal também foi estudante da famosa
      Sociedade Cearense de Artes Plásticas (SCAP), hoje extinta e por onde passaram grandes nomes da arte cearense.
    </p>
    <p>
      No começo, Ascal trabalhou somente com escultura, mas, como era desenhista, logo a pintura se incorporou em seu
      fazer artístico, sendo ambas as técnicas desenvolvidas paralelamente em todos esses anos. "Há períodos em que me
      dedico mais a uma que a outra, mas nunca abandonei realmente uma delas". Agora prepara sua mais nova exposição -
      uma
      série de esculturas em aço de temática abstrata. As peças variam em uma extensão de seis metros e pesam cerca de
      uma
      tonelada, cada. Frequentemente pesquisando e estudando novas formas de se expressar na área da escultura, Ascal
      também é autor de pecas em bronze, alumínio, fibra de vidro, granito, concreto e madeira.
    </p>
    <p>
      Atualmente tem trabalhos espalhados por todo o Brasil. Fez muitas exposições no exterior, destacando as realizadas
      na França, Espanha e Portugal, que Ihe garantiram maior visibilidade de sua produção artística. Em coleções
      particulares, tem obras no Japão, Alemanha e Estados Unidos, para citar algumas.
    </p>
  </div>
</div>
