<nav class="navbar navbar-expand-lg navbar-dark" id="navigation-bar">
  <a class="navbar-brand d-inline-flex" [routerLink]="['/']">
    <img src="../assets/images/ascal-logo-site.webp" width="120" height="120" alt="">
    <h2 class="ml-4 my-auto d-flex align-items-center">Ascal</h2>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav ml-auto mr-4">
      <li class="nav-item">
        <a class="nav-link mt-2" [routerLink]="['/about']" routerLinkActive="active">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mt-2" [routerLink]="['/painting']" routerLinkActive="active">Pinturas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mt-2 mb-2" [routerLink]="['/sculpture']" routerLinkActive="active">Esculturas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          href="https://b8c71bee-8602-4dde-8195-2a18f918fb46.filesusr.com/ugd/aa2e99_21b5a9bfa07446a78d51bb33b16025d4.pdf"
          target="_blank" rel="noopener noreferrer">
          <button type="button" class="btn btn-secondary">Acessar livro</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          href="#"
          target="_blank" rel="noopener noreferrer">
          <button type="button" class="btn btn-success">Entrar</button>
        </a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email">
      <input class="form-control mr-sm-2" type="password" placeholder="Senha" aria-label="Senha">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
    </form> -->
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="">

</footer>
